body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/fon1.png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: normal;
    
}
/* -----------------------------------------------------------------------------------------header---------------------------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
     max-width: 100%;
     height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

h4 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffff;
    text-decoration: none;
    margin: 0%;
    font-weight: normal;
}
a{ 
    text-decoration: none;
    color: #ffff;
    font-weight: normal;
}
.heder_items1 {
    flex-grow: 0.74;
    margin-left: 60px;
}
h4:hover{
    color: #01813F;

}
.heder_items2:hover{
  background-image: url(../img/);
}

.heder_items6{
    font-size: 14px;
    line-height: 14px;
    margin-right: 35px;
}

.heder_items5{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: rotate(0deg)  ;
}
.heder_items6>a>span:hover{
    color: #01813F;
}

/* -----------------------------------------------------------------------------------form---------------------------------------------------------------------- */
form{
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
height: 584px;
text-align: center;
margin-top: 54px;

}
.subtitle:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

.shape{
    background: #3CB878;
    width: 18px;
    height: 18px;
    margin: 29px 0 0 0
}

.title{
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    font-weight: normal;
    margin: 31px 0 0 0;
    margin-right: 172px;

}
.subtitle{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-right: 59px;
    font-weight: normal;
   margin-top: 33px;
 
}


.socialLink{
    margin-top: 14px;
}
.social_items1{
    font-weight: bold;
    font-size: 30px;
    

}
.social_items2{
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
   
}
.social_items3{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 5px;
       
}

.facebook{
    width: 157px;
    height: 46px;
    background: #305DB8;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    margin-right: 8px;
}
    
.facebook>a{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
}
.facebook:hover{
    background-color: #022263;
}

.google:hover{
    background-color: #AB1F09;
}
.google{
    width: 157px;
    height: 46px;
    background: #DF4A32;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
  }
  .google>a{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .social_items6 {
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    
  }
  
  .social_items5{
    font-weight: bold;
    font-size: 30px;
    
  }
  .social_items7{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 15px;
  }
.list {
    
}
img{
    height: 19px;
}


input{
 margin-top: 15px;
 height: 42px;   
 width: 301px;
 border: 1px solid #F2F2F2;
 border-radius: 4px;
 font-weight: normal;
 font-family: 'Ubuntu', sans-serif;
 padding-left: 20px;
 color: #434343;
 }
/* -----------------------------------------checkbox-------------------------- */
.check_box{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
margin-right: 75px;


}
input::placeholder {
    color: #BEBEBE;
}
input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "";
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    margin-right: 8px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
     
  }
  /* .showall{
      margin-left: 20px; */
 

  input:hover{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
   
}
  
  /* input[type=checkbox] + label:active:before {
    transform: scale(0);
  } */
  
  input[type=checkbox]:checked + label:before {
      content: url(../img/VectorGreen.png);
      background-repeat: no-repeat;
      }

  label>span{
    color:#3CB878 ;
    }
    .holder:hover{
        color: #01813F;
     text-decoration:underline;
        /* border-bottom: 1px solid #01813F ; */

    }
    /* ---------------------------------------------BOTTOM----------------------
   */
.button {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    
}

.button:hover{
    background-color: #01813F;
}