html{
    max-width: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 100%;
    
   }

.navbar-menu{
    
    display: block;
    width: 1900px;
    height: 70px;
    background-color: #313131;
    margin: 0 auto;
   }

li.navbar1 {
    flex-grow: 3;
    text-transform: none;
    font-weight: bold;
    font-size: 22px;
line-height: 30px;
}
li.navbar2 {
    flex-grow: 0.2;
    text-transform: uppercase;
    font-size: 15px;
}
li.navbar3 {
    flex-grow: 0.2;
    text-transform: uppercase;
    font-size: 15px;
}
li.navbar4 {
    flex-grow: 0.2;
    text-transform: uppercase;
    font-size: 15px;
}
li.navbar5 {
    flex-grow: 0.2;
    text-transform: uppercase;
    font-size: 15px;
}
li.navbar6 {
    flex-grow: 0.2;
    text-transform: uppercase;
    font-size: 15px;
}
li.navbar7 {
    flex-grow: 3;
    text-transform: uppercase;
    font-size: 15px;
}
 
.item {
    display: flex;    
    list-style-type: none;    
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
       height: 70px;
}

    .item>li>a:hover{
        color: #14B9D5;
    }

.item>li>a{
    text-decoration: none;
    color: white;
    }

li.logo-bg {
    width: 81px;
    text-align: center;
    align-items: center;
}
button.search {
    width: 68px;
    height: 70px;
    background-color:#000000;
    border: none;
}
/* секция навигационна панел------------------------------------------------------------------------------------------------------------- */

 /* секция .header-background------------------------------------------------------------------------------------------------------------- */
.header-background{
    background-image: url(../imag/header-background.png);
    width: 1900px;
    height: 369px;
    left: 0px;
    top: 68px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.heading{
    font-family: Open Sans;
font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #FFFFFF;
}

.contorl{
    text-align: center;
    margin-top: 44px;
} 

.btn1{
    width: 170px;
    height: 55px;
    background: #89CA62;
    font-family: Open Sans;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
margin-right: 10px;
}

.btn2{
    background: #89CA62;
    width: 170px;
height: 55px;
font-family: Open Sans;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
margin-left: 10px;
}   

.btn1:hover{
  background: #14B9D5;
}
.btn2:hover{
background: #14B9D5;
}
/* секция Most popular posts ---------------------------------------------------------------------------------------*/

.box{
    width: 1900px;
    height: 1030px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
}

.text-most{
    text-align: center;
color: #18B4CF;
text-transform: uppercase;
font-family: Open Sans;
font-weight: bold;
font-size: 27px;
line-height: 37px;
}
.flex{
    display:flex;
    flex-flow: column wrap;
    height: 91%;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .vanglo-house{
    width: 370px;
    height: 320px;
    background-color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right:30px ;
    
font-size: 18px;
line-height: 25px;
  }
  .sunrise{
    width: 370px;
    height: 441px;
    font-weight: bold;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    font-weight: bold;
font-size: 18px;
line-height: 25px;
      }

      .ringve-museu{
        width: 370px;
        height: 355px;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        font-weight: bold;
font-size: 18px;
line-height: 25px;
margin-left: 30px;
 }

      .vanglo-house6{
        width: 370px;
        height: 321px;
        font-weight: bold;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-right: 30px;
      }
      .sunset{
        width: 370px;
        height: 309px;
        font-weight: bold;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        font-size: 18px;
        line-height: 25px;
      }

      .glorious{
        width: 370px;
        height: 441px;
        font-weight: bold;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
       font-size: 18px;
        line-height: 25px;
        margin-left: 30px;
      }
   
      /* секция our most popular clients-------------------------------------------------------------------------------------- */
.bg-outmost{
    background-image: url(../imag/Layer4.jpg);
    width: 1900px;
    height: 588px;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.popular{
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    grid-column: 1/6;
  
}

.line {
    width: 60px;
height: 3px;
background: #18B4CF;
border: none;
grid-column: 1/6;
}
.Layer3{
   margin-right: 58px;
   
}
.logo-8{
    margin-right: 58px;
}
.Layer2{
    margin-right: 50px;
}
 /* секция RATED -----------------------------------------------------------------------------------------------------------*/

.latest-post{
display: grid;
align-items: center;
    justify-items: center;
    justify-content: center;
    width: 1900px;
    background-color: #E5E5E5;
    margin: 0 auto;

}
p.rated {
    grid-column: 1/8;
    font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #18B4CF;
text-transform: uppercase;
margin: 51px;

}

/* секция HOT NEWS ----------------------------------------------------------------------------------------------------*/

section.fd_grid {
    /* display: grid; */
    background: rgba(0, 0, 0, 0.0001);
    max-width: 100%;
    height: 1683px;
    margin: 0 auto;
 
}
.grid-box{
    display: inline-grid;
    grid-gap: 60px;
}

.title {
    grid-column: 1/3;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;

}
    .grig-item1{
        width: 856px;
        height: 259px;
        background: #F9F7F7;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        color: #5B6469;
        


    }
    .grig-item2{
        width: 277px;
        height: 259px;
        background: rgba(0, 0, 0, 0.0001);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        color: #5B6469;
        
    }
    .grig-item3{
        color: #5B6469;
        background: #F9F7F7;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        width: 554px;
        height: 418px;
        
    }
    .grig-item4{
        color: #5B6469;
        width: 554px;
        height: 418px;
        background: rgba(0, 0, 0, 0.0001);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        
    }
    .grig-item5{
        color: #5B6469;
        width: 554px;
        height: 416px;
        background: rgba(0, 0, 0, 0.0001);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
        
        
    }
    .grig-item6{
        color: #5B6469;
        width: 554px;
        height: 416px;
        background: rgba(0, 0, 0, 0.0001);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    }
    .grig-item7{
        color: #5B6469;
        width: 277px;   
        height: 259px;

        
    }
    .grig-item8{
        color: #5B6469;
        width: 856px;
        height: 259px;
        background: #F9F7F7;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
     }
/* подвал footer ----------------------------------------------------------------------------------------------------------------------- */
* {box-sizing: border-box;}
.conteiner{
    background: black;
    width: 1900px;
    height: 80px;
    margin: 0 auto;

}
    .liolit{
        color: #FFFFFF;

    }

    .copyright{
        font-size: 13px;
        line-height: 13px;
        color: #FFFFFF;
    }

    .svg{
        color: red;

    }
