
body{
    box-sizing: border-box;
}


.grid-box{
    display: inline-grid;
    width: 100%;
    grid-template-columns: 856px 856px;
    grid-template-rows: 259px 259px 259px;
   box-sizing: border-box;
   grid-gap:60px
   
}
.grig-item1{
    width: 856px;
    height: 256px;
    box-sizing: border-box;
   display: flex;
   

  
}