
*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}


.wrapper>div{ 
    padding: 1em;
    background-color: rgb(242, 137, 137);


}
.wrapper>div.light{ 
    padding: 1em;
    background-color: rgb(140, 248, 132);
}
.included{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    grid-auto-rows: 80px;    
    
}
.included>div{
    background-color: tomato;
    padding: 10px;
}