body{
    font-family: 'Roboto', sans-serif;
   
}

.container{
    
    height: 768px;
    background-image: url(../img/background1.png);
    border: 1px solid black; 
    margin: 0 auto;
    max-width: 1366px;
}

  /* ----------------------------------------------------------------HEADER LOGO------------------------------------------------------------------ */

.header_item{
    display:flex;
   justify-content: center;
    margin-top: 46px;
}

.header{
    display: flex;
    border: 1px solid #fff;
    min-width: 1028px;
    min-height: 61px;
    justify-content: space-between;
    align-items: center;
    
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    line-height: 18px;
}
a {
    text-decoration: none;
    color: #ffff;
}
a:hover{
    color: #F26522;
}
.list1:hover{
 color:#F26522;
 
}

.item_list1 {
    display: inline-block;
    margin-left: 10px;
}

h3{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 5px;
    display: inline;
    text-transform: uppercase;
}

h4{
    
  display: inline;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
    
}

.list3 {
    margin-bottom: 19px;
}
a:hover{
    color: #F26522;
}
/* ------------------------------------------------------------------------------Images------------------------------------------------------------------------ */


.picture {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-column-gap: 61px;
    grid-row-gap: 70px;
    margin-top: 17px;
    text-align: center;
   
}
a.items {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    /* padding-top: 20px; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
span{ 
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF; 
    text-align: center;
    margin-top: 48px;
}

.visibili{
color: #fff;
/* visibility: hidden; */
background-color: #F26522 ;
position: relative;
top: -145px;
height: 55px;
}

p{
    color: #fff;
    font-size: 18px;
    line-height: 18px;  
}
p:hover{
    color: #F26522;
}
figure {
    height: 243px;
    margin: 0;
    padding: 0;
}
figcaption.items {
    width: 300px;
    height: 220px;
}