:root{
    --theme-accent: #FFC700;
    --theme-main: #ffff;
    --theme-bgd: #222527;
    --theme-model: rgb(239 236 236 / 90%); 
    --theme-btn-text: #060803;


}

html, body{
    width: 100%;
    height: 100%;   
  }

body{
    font-family: 'Montserrat', sans-serif;
 }
 header{
    padding: 32px 0 72px 0 ;
    width: 100%;
    display: flex;
    justify-content:space-between;
    
}
.about_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 36%;
}
.social_link {
    margin-bottom: 26px;
}
.social_link svg{
    fill: var(--theme-accent);
} 

.conteiner {
max-width: 1170px;
height: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
position: relative;
}

.about {
    background-image: url('../img/img/space.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    
    
}

.about_name{
    color: var(--theme-accent);
    font-style: italic;
    font-size: 46px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 24px;
        
}
.about_name2{
    font-size: 16px ;
    line-height:24px ;
    margin-bottom: 16px;
    color: var(--theme-main);
    
}

.list_item {
    font-size: 16px ;
    line-height:24px ;
    margin-bottom: 8px;
    color: var(--theme-accent);
    list-style: disc;
    margin-left: 18px;
}

.list-text {
    color: var(--theme-main);
   
}

.about_button{
    outline: 0;
    border: 0;
    margin-top: 40px;
    background: var(--theme-accent);
    border-radius: 38px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    color: var(--theme-btn-text);

}
.description{
    font-size: 16px ;
    line-height:24px ;
    color: var(--theme-main);

}
.about_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about_content_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;

}
.dart_veider{
    position: absolute;
    right: 0px;
    bottom: 0px;

}
.death_star{
    opacity: 40%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -96px;
    margin: auto;
}

.achievements{
    padding: 60px 0;
    background-color: var(--theme-bgd);
}

.achievements_headr{
    font-size: 16px ;
    line-height:24px ;
    font-weight: bold;
    color: var(--theme-accent);
    margin-bottom: 64px;
    
}
.achievements_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.achievements_items-header{
    font-size: 16px ;
    line-height:24px ;
    font-weight: bold;
    color: var(--theme-accent);
    max-width: 38px 0 4px 0;
}
.achievements_items-text{
    font-size: 16px ;
    line-height:24px ;
    color: var(--theme-main);

}
.achievements_item{
    width: 25%;
}

.codex{
    padding: 186px 0;
    background-image: url('../img/img/space.jpg');
    background-size: cover;
    background-attachment: fixed;

}
.codex .conteiner{
    flex-direction: row;

}
 .codex_motto{
    color: var(--theme-accent);
    font-style: italic;
    font-size: 46px;
    font-weight: bold;
    line-height: 60px;
} 

.codex_left_side, .codex_right_side {
    width: 50%;

}
.codex_title {
    color: var(--theme-accent);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.codex_text {
    color: var(--theme-main);
    font-size: 16px;
    margin-bottom: 4px;
    
}

.codex_text_last{
    margin-bottom: 60px;
    color: var(--theme-main);
}

.footer {
    padding: 60px 0 66px 0;
    background-color: var(--theme-bgd);


}
.footer .conteiner{
    align-items: center;
}

.footer_title{
    color: var(--theme-main);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 54px;
    width: 740px;

}

.achievements_icon{
    width: 60px;
    height: 60px;


}
.model-conteiner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-model);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:opacity 0.3s ease-in-out;

}

.model-form{
    padding: 40px 80px;
    background-color: var(--theme-bgd);
    color: var(--theme-main);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.close_icon{
    position:absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;


}

.model-form-title{
    color: var(--theme-accent);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 4px;
    text-align: center;

}
.model-form-text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
.model-form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    
}

.form-name-label{
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
}
.model-form-name, .model-form-email {
    width: 440px ;
    height: 40px;
    border: 1px solid var(--theme-main);
    outline: none;
    padding: 4px;
    box-sizing: border-box;
}
.model-button-submit{
    outline: 0;
    border: 0;
    background: var(--theme-accent);
    border-radius: 38px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    margin-top: 16px;
    color: var(--theme-btn-text);
    
}
.model-active{
    opacity: 1;
    pointer-events: all;
}
.model-success{
    padding: 80px 40px 88px 40px;
    background-color: var(--theme-bgd);
    color: var(--theme-main);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
.model-success-title{
    color: var(--theme-accent);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 112px;
    text-align: center;

}
.model-success-text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    text-align: center;
}

.logo svg, .achievements_icon svg, footer svg, .close_icon svg, .model-success-icon svg{
    fill: var(--theme-accent);
}
.close_icon svg{
    fill: var(--theme-main);
}
.about--light,
.codex--light {
    background-image: url("../img/img/stardust.jpg");
}