html, body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
   
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
body{
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.__container{
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width:100% ;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------------------------------------------------------- */
header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

}
.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;

}
.header__logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    

}
@media (max-width:479px){
    .header__container{ min-height: 70px;
       
    }
}
.neader__menu {
    margin: 0 0 0 133px;

}
@media (max-width:992px){
    .neader__menu{
        margin: 0 0 0 80px;
    }
}
@media (max-width:767px){
        .neader__menu{
            margin: 0 0 0 40px;
        }
}
@media (max-width:479px){
    .neader__menu{
        margin: 0 0 0 20px;
    }
}
.menu{
    padding: 5px 0;

}
.menu__list{
    flex-wrap: wrap;
    display: flex;
   
}
.menu_item{
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    margin: 0 0 0 21px;
}
/* .menu_item:not(:last-child) {
    margin: 0 21px 0 0;
} */


.menu__link{
    color: #737373 ; 
    font-weight: 600px;
    line-height: calc(24 / 14 * 100%);
}
@media (max-width:479px){
    .menu__link{
        font-size: 18px;
    }
}

/* -----------------------------------------------header________ */

/* __________________________________________maine_________ */

.maine{
    flex: 1 1 auto;

}
.maine-page-block {

}
.page-block{
    position: relative;
}
.page-block_container _container{

}
.page-block_body{
    padding: 184px 0px 191px 0;
    position: relative;
    z-index:2;
    max-width: 400px;
}
.page-block_body > *:not(:last-child){
    margin: 0 0 35px 0;

}
@media (max-width:992px)  {
    .page-block_body{
        padding: 120px 0 191px 0;

    }
}

.page-block_title{
    font-size: 58px;
    line-height: 137%;
    font-weight: 800;
    list-style: 0.2px;
}
@media (max-width:400px) {
    .page-block_title{
        font-size: 42px;

    }
}
.page_block_text{
    color: #737373;
    font-size: 20px;
    line-height: 150%;

}
.paga-block_buttons{
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
    
}
.paga-block_button{
    border-radius: 37px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;
    
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin: 10px 0;
}
.paga-block_button:not(:last-child){
    margin-right: 10px;
}
.paga-block_button_orange {
    background: #ff7b47;
    color: #ffff;
    }

@media (max-width:479px){
    .paga-block_button{
        flex: 1 1 auto;
    }
} 
.paga-block_button_border{
    color: #0d5c63;
    border: 1px solid #0d5c63;

}
.main-block_image{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1300px) { 
    .main-block_image img{
        object-position: right;
    }
}
@media (max-width: 992px) { 
    .main-block_image img{
       opacity: 0.5;
    }
}
/* --------------------------------секция_------------------
 */
 .page_services {

 }
 .services_container {


 }
 .services_body{

 }
 .services_colum{

 }
 .services_item{

 }
 .item-services_icon{

 }
 .item-services_title{

 }
 .item-services_text{
     
 }
 
/* _____________-подвал_________________________________ */
.footer {

}
