    body{
        font-family: 'Arimo', sans-serif;
    }

    table{
        border-collapse: collapse;
        border: 24px solid #3A4965;
        box-sizing: border-box;
        width: 1192px;
        height: 736px;
        margin: 0 auto;
    }

    th{
        border-left: 1px solid  #D4D4D4;
    }

    td{
    /* border: 1px solid #F2F2F2; */
    text-align: center;
    border-left: 1px solid #D4D4D4;
    }
    /* ------------------------------------------------------------------------navigation---------------------------------- */
    .navTablet{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }
    .navTablet1{
        width: 280px;
        height: 89px;
        background: #FAFAFA;

    }

    th .listItem{
        background-color:#FAFAFA;
        width: 302px;
        height: 159px;
        font-weight: bold;
        font-size: 30px;
        line-height: 28px;

    }
    
    .listItem1{
        background-color: #89C331;
        color: #ffff;
        width: 284px;
        height: 73px;
    }
    .listItem2{ 
        color: #ffff;
        background: #F04A56;
        width: 284px;
        height: 73px;
    }

    .listItem3{
        color: #ffff;
        background: #20807C;
        width: 277px;
        height: 73px;
    }
    .listItem4 {
        font-weight: bold;
        font-size: 60px;
        line-height: 28px;
    }
    p{
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
    }
    sup {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }
    sub{
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }


    /* ---------------------------------------------------------------main------------------------------------------------- */
    .itemTablet{
        background: #F2F2F2;
        color: #484848;
    }
    .listItem7{
        width: 280px;
        height: 72px;
    }
    .itemTablet1{
        background-color: #E3E3E3;
        height: 72px;
        color: #484848;
    }

    .listItem11{
        font-size: 16px;
        line-height: 16px;
    }
    .listItem12{
        font-size: 16px;
        line-height: 28px;
    }
    .listItem13{
        font-size: 16px;
        line-height: 28px;
    }
    .itemTablet2{
        background: #F2F2F2;
        height: 72px;
        color: #484848;
    }
    .listItem{
        font-weight: bold;
        font-size: 30px;
        line-height: 28px;
    }

    .itemTablet3{
        background-color: #E3E3E3;
        height: 72px;
        color: #484848;
        
    }

    .itemTablet4{
        background: #F2F2F2;
        color: #484848;
        height: 72PX;

    }
    .itemTablet5{
        background-color: #E3E3E3;
        height: 72px;
        color: #484848;

    }
    .itemTablet6{
        background: #F2F2F2;
        color: #484848;
        height: 109PX;

    }
    .listItem28{
        background-color: #DDDD;

    }
    button{
        width: 192px;
        height: 42px;
        border-radius: 5px;
        background: linear-gradient( 180deg, #1e5799 80%,#000305 );
        color: #ffff;
    }

    .listItem28>button{
        background: #484848;
        border:none;
        box-shadow: 0px 9px 0px 0px #404040;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .listItem29>button{
        background: #89C331;
        box-shadow: 0px 9px 0px 0px #79B027;
        font-weight: bold;
     font-size: 16px;
        line-height: 16px;
        border:none;
    } 
    .listItem30>button{
        background: #F04A56;
        border:none;
        box-shadow: 0px 9px 0px 0px #DF3A46;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;

    }
    .listItem31>button{
        background: #20807C;
        border:none;
        box-shadow: 0px 9px 0px 0px #16736F;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;

        
    }
    /* ------------------------------------------------------------------butonn------------------------------------------------ */