body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
   
}

main {
    width: 1197px;
    height: 660px;
    /* background: #3A4965; */
    /* border: 24px solid #3A4965; */
   padding-top: 28px;
    margin: 0 auto;
    box-sizing: border-box;
}

table {
    margin: 10px  auto;
    min-width: 1143px;
    min-height: 612px;
    border-collapse: collapse;
    text-transform: uppercase;
    background: #F2F2F2;
    table-layout: auto;
    border: 24px solid #3A4965;
}
td {
    border-bottom: 1px solid #D4D4D4;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
th{
    /* border: 1px solid #D4D4D4; */
    width: 160px;
    height: 115px;
    border-bottom: 12px solid #3A4965;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
}



td:nth-child(2n) {
    background: #E3E3E3;

}
th:nth-child(2n) {
  background: #E3E3E3;
} 

.nav {
    background: #FAFAFA;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27); */
    color: #484848;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px
}
.navAside1 {
    background: #89C331;
    border: none;
}

.navAside2 {
    background: #F04A56;
    border: none;
}

.navAside3 {
    background: #20807C;
    border: none;
}
p {
 margin: 0;
 font-family: Arimo;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
 
}

button {
    width: 147px;
    height: 44px;
    background: #414141;
    color: #ffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #343434;
}
td>b {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;  
}

sup {
    font-weight: bold;
font-size: 18px;
line-height: 28px;
}