body{
    font-family: 'Roboto', sans-serif;
}
/* -----------------------------------------------------------heading--------------------------------------------------------------------- */
.container{
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.header {
    display: inline-block;
    margin-top: 55px;
}

.header>a{
    text-decoration: none;
    margin-left: 98px;
    color: black;
    font-size: 80px;
    line-height: 94px;
}
span{
    color: #64d1ff;

}
/* -------------------------------------------------------------navigation menu--------------------------------------- */

.wrapper {
    display: flex;
    width: 1283px;
    height: 72px;
    margin: 0 auto;
    background: #35444F;
    align-items: center;
    align-content: center;
    justify-content: center;
}
section.navbar {
    margin-top: 38px;
}
a.item {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
    text-decoration: none;
    height: 100%;
    align-items: center;
    display: inherit;
    border-left: 1px solid white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
a.item:last-child{
border-right:1px solid white;
}
a.item:hover{
    background: #222F3A;
}
/* ----------------------------------------------------------------aside --------------------------------------------------------- */

.aside {
    list-style-type: none;
    margin-left: 98px;
    margin-top: 48px;
    display: flex;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    flex-direction: column;
    justify-content: space-around;
}

.aside>a {
        text-decoration: none;
        color: #495863;
        font-size: 27px;
        line-height: 27px;
        height: 100%;
        align-items: center;
        padding-left: 42px;
        display: flex;
                
}

.aside>a:hover{
    color: #000000;
    background-color:#DBDBDB;
    /* font-size: 27px;
    line-height: 27px; */
    text-indent: 20px;
}    
    /* --------------------------------------------------------------------main------------------------------------------------------------- */

    .content{
    width: 885px;
    height: 529px;
    display: inline-block;
    border: 1px solid #000000;
    text-align: center;
    margin-left: 496px;
    /* marker-end: inherit; */
    display: flex;
    margin-top: -405px;
    align-items: center;
    justify-content: center;

    }
    .text {
        width: 885px;
        height: 120px;
        margin-top: 37px;
        margin-left: 496px;
        font-size: 18px;
        line-height: 24px;
        color: #2C2C2C;
        
    }
    
    .img_box:hover{    
    transition: 1s; /* Время эффекта */
}
    .img_box:hover{
    transform: scale(1.05);
}

    .text1 {
        width: 885px;
        height: 109px;
        margin-top: 34px;
        margin-left: 496px;
        font-size: 18px;
        line-height: 24px;
        color: #2C2C2C;
    }

    /* ----------------------------------------------------------------------FOOTER----------------------------------------------------------------- */
    .footer_nav {
        display: flex;
        width: 1280px;
        height: 69px;
        background: rgba(99, 105, 110, 0.48);
        margin: 0 auto;
        margin-top: 50PX;
        align-items: center;
        justify-content: space-evenly;
        font-size: 28px;
        line-height: 28px;
        color: #0C1927;
    }
    .nav:last-child{
        flex-grow: 0.5;
    }
    .nav:hover {
        color: #3181A6;
        text-decoration: underline;

    }

