html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.wraper{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.maine-page{
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100.92%);
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
header{
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

}
.logo-text{
    margin-left: 18px;
}
.banderogus-container{
    background: #ffff;
    padding: 60px 56px;
    align-self: center;

}

.bandergus-title{
    color: black;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px; 
   }

.bandergus-greeting{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-bottom: 16px;
    
}
.bandergus-start-text{
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}
.bandergus-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-top: 24px;
    margin-bottom: 48px;
}
.bandergus-launcher{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

}
.banderogus-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogus-img{
    align-self: flex-end;
}

.banderogus-fact{
    padding: 52px 0 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.gus-title{
    font-weight: 600;
    font-size: 59px;
    line-height: 100px;
    margin: 16px auto ;
}
.ukr-lego{
    

}
.gus-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 875px;
}
.gus-fact-conteiner{
    display: flex;
    width: 1170px;
    text-align: center;
    justify-content: space-between;

}